/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  ##### COLORS #####  */
/*  ### PRIMARY ###  */
/*  ### SECONDARY ###  */
/*  ### NEUTRAL ###  */
/*  ##### TYPOGRAPHY #####  */
/* ### HEADINGS ### */
/* ### BODY ### */
/*  ##### HEADINGS #####  */
.h1 {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  line-height: 3.25rem; }
  @media (max-width: 1050px) {
    .h1 {
      font-size: 2rem; } }
  @media (max-width: 550px) {
    .h1 {
      font-size: 1.5rem;
      line-height: 2.25rem; } }

.h2 {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem; }
  @media (max-width: 550px) {
    .h2 {
      font-size: 1.25rem;
      line-height: 1.75rem; } }

.h4 {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 10px; }

/*  ##### BODY #####  */
.p {
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding-bottom: 20px; }

.note {
  color: #282385;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding-bottom: 20px; }

.list-header {
  font-weight: 700; }

.link {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 10px; }
  .link:hover {
    border: 1px solid #FFF;
    border-radius: 2px; }
  @media (max-width: 550px) {
    .link {
      padding: 2.5px 5px;
      font-size: 0.75rem; } }

.btn--sm {
  font-family: "Open Sans", sans-serif;
  background-color: #05d69b;
  color: white;
  text-decoration: none;
  border: 1px solid #05d69b;
  border-radius: 2px;
  margin: 0 5px;
  padding: 5px 10px; }
  .btn--sm:hover {
    background-color: #FFF;
    color: #05d69b; }
  @media (max-width: 550px) {
    .btn--sm {
      padding: 2.5px 5px;
      font-size: 0.75rem; } }

.btn--md {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: #05d69b;
  color: white;
  text-decoration: none;
  border: 1px solid #05d69b;
  border-radius: 2px;
  margin: 0 5px;
  padding: 5px 50px; }
  .btn--md:hover {
    background-color: #FFF;
    color: #05d69b; }
  @media (max-width: 550px) {
    .btn--md {
      padding: 2.5px 25px;
      font-size: 0.9rem; } }

.btn--lg {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  background-color: #05d69b;
  color: white;
  text-decoration: none;
  border: 1px solid #05d69b;
  border-radius: 4px;
  margin-top: 20px;
  padding: 15px 75px; }
  .btn--lg:hover {
    background-color: #FFF;
    color: #05d69b; }
  @media (max-width: 550px) {
    .btn--lg {
      padding: 7.5px 37.5px; } }

/* UNIVERSAL */
*, body {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.container {
  padding: 50px; }
  @media (max-width: 550px) {
    .container {
      padding: 25px; } }

.container--heading {
  padding-bottom: 50px;
  text-align: center; }
  @media (max-width: 700px) {
    .container--heading {
      padding-bottom: 25px; } }

/* HERO */
.section--hero {
  position: relative; }
  .section--hero .background {
    position: absolute;
    top: -100px;
    background-image: linear-gradient(160deg, #282385, #bbb8fa);
    transform: skew(0, 5deg);
    width: 100%;
    bottom: 0; }
  .section--hero .container {
    z-index: 1;
    position: relative;
    width: 100%; }
  .section--hero .nav {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 400px) {
    .section--hero .logo {
      max-width: 25%; } }
  .section--hero .login .login--btn {
    float: left;
    display: inline-block; }
  .section--hero .split-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px; }
    .section--hero .split-section .content {
      width: 66%;
      padding: 10px; }
      @media (max-width: 900px) {
        .section--hero .split-section .content {
          width: 100%;
          text-align: center;
          margin-top: 50px; } }
    .section--hero .split-section .img {
      width: 33%;
      padding: 10px; }
    @media (max-width: 900px) {
      .section--hero .split-section {
        flex-wrap: wrap-reverse; }
        .section--hero .split-section .content,
        .section--hero .split-section .img {
          width: 100%; }
        .section--hero .split-section img {
          margin: 0 auto;
          display: block; } }

/* FEATURES */
.section--features {
  padding-top: 150px; }
  .section--features .container--heading {
    padding: 50px; }
    @media (max-width: 1000px) {
      .section--features .container--heading {
        padding: 25px; } }
  .section--features .container--content {
    display: flex;
    justify-content: space-evenly;
    padding: 50px; }
    @media (max-width: 1000px) {
      .section--features .container--content {
        flex-wrap: wrap;
        padding: 25px; } }
    @media (max-width: 1000px) {
      .section--features .container--content .features--img {
        text-align: center; } }
    .section--features .container--content .features--img,
    .section--features .container--content .features {
      width: 33%;
      padding: 50px; }
      @media (max-width: 1000px) {
        .section--features .container--content .features--img,
        .section--features .container--content .features {
          width: 100%;
          padding: 10px; } }

/* SIGNUP SECTION */
.section--signup {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 50px; }
  @media (max-width: 1000px) {
    .section--signup {
      width: 75%; } }
  @media (max-width: 700px) {
    .section--signup {
      width: 100%; } }
  .section--signup .container--content form {
    display: flex;
    flex-grow: 1;
    justify-content: center; }
    @media (max-width: 700px) {
      .section--signup .container--content form {
        flex-wrap: wrap; } }
    .section--signup .container--content form input {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      color: gray;
      border: 1px solid gray;
      border-radius: 2px;
      margin: 0 5px;
      padding: 5px; }
      @media (max-width: 700px) {
        .section--signup .container--content form input {
          margin-bottom: 20px; } }

/* FOOTER */
.section--footer {
  position: relative;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem; }
  .section--footer .background {
    position: absolute;
    bottom: -500px;
    background: #070439;
    transform: skew(0, 5deg);
    width: 100%;
    top: 75px; }
    @media (max-width: 1050px) {
      .section--footer .background {
        bottom: -700px; } }
    @media (max-width: 550px) {
      .section--footer .background {
        bottom: -1000px; } }
  .section--footer .blue-bottom {
    position: relative;
    bottom: -600px;
    background: #070439;
    width: 100%;
    z-index: 1;
    height: 200px; }
    @media (max-width: 1050px) {
      .section--footer .blue-bottom {
        bottom: -800px; } }
    @media (max-width: 550px) {
      .section--footer .blue-bottom {
        bottom: -1100px; } }
  .section--footer .container {
    z-index: 1;
    position: absolute;
    bottom: -300px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1050px) {
      .section--footer .container {
        flex-wrap: wrap;
        bottom: -700px; } }
    @media (max-width: 550px) {
      .section--footer .container {
        bottom: -1050px; } }
  @media (max-width: 1050px) {
    .section--footer .container--contact {
      width: 100%;
      margin: 50px 10px;
      order: 1; } }
  .section--footer .container--contact .logo {
    margin-bottom: 20px; }
  .section--footer .container--contact .contact {
    line-height: 1.5rem;
    padding: 5px 0;
    display: flex;
    align-items: center; }
    .section--footer .container--contact .contact p {
      display: inline-block;
      padding-left: 10px; }
  .section--footer .container--links {
    display: flex;
    justify-content: space-around;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    margin: 0 20px; }
    @media (max-width: 1050px) {
      .section--footer .container--links {
        width: 100%;
        margin: 20px;
        order: 3;
        border: none; } }
    @media (max-width: 550px) {
      .section--footer .container--links {
        flex-wrap: wrap; } }
    .section--footer .container--links .links--list {
      padding: 0 30px; }
      @media (max-width: 550px) {
        .section--footer .container--links .links--list {
          width: 100%;
          padding: 0;
          margin-bottom: 20px; } }
      .section--footer .container--links .links--list li {
        padding-top: 15px;
        padding-bottom: 15px; }
        .section--footer .container--links .links--list li a {
          color: #FFF;
          text-decoration: none; }
  .section--footer .container--signup {
    max-width: 50%; }
    @media (max-width: 1050px) {
      .section--footer .container--signup {
        max-width: 100%;
        width: 100%;
        text-align: center;
        order: 2; } }
    .section--footer .container--signup p {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.25rem;
      padding-bottom: 20px; }
    .section--footer .container--signup form input,
    .section--footer .container--signup form button {
      display: block;
      margin-bottom: 20px;
      float: right; }
    .section--footer .container--signup form input {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      color: gray;
      border: 1px solid gray;
      border-radius: 2px;
      padding: 5px;
      width: 100%; }
    .section--footer .container--signup form button {
      margin-right: 0; }
